body{
  background-color:rgb(109, 0, 205);
  color: white;
  align-items: center;
  scrollbar-width: none;
  margin: 0;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;

  border-radius: 2px;
  overflow: hidden;
}

#toast {
  position: fixed;
  top: 98px; left: 50%;
  transform: translateX(-50%) translateY(12px);

  background-color: rgba(222, 222, 222, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0 rgb(0, 0, 0, 0.2);

  color: rgba(11, 9, 9, 0.575);
  font-size: 13px; 
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0; pointer-events: none;
  transition: opacity .25s, transform .3s cubic-bezier(.34,1.56,.64,1);
  z-index: 9999;
}
#toast.show { 
  opacity: 1; 
  transform: translateX(-50%) translateY(0); 
}

header {
  background-color: rgb(224, 224, 224);  
  width: 100%;
  height: 9%;
  padding: 10px 0;
  display: flex;
  font-size: x-small;
  justify-content: center;
  column-gap: 11px;
  align-items: center;
  color: black;
  border-bottom: 1px solid rgba(128, 128, 128, 0.498);
}
/* header div{
   border: 1px solid; 
} */
.profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  flex-grow: 1;
}
.p-avatar{
  width: 100%;
}
.img-holder{
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 3px double rgb(0, 0, 0);
  overflow: hidden;
}
.title{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8dvw;
}
.status{
  margin-left: 5px;
  position: relative;
  top: 5px;
  font-size: 10px;
  color: red;
}

.hicon :hover{
  width: 23px;
  transition: 400ms;
}
.nav-back, 
.switch{
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.nav-back{
  margin-left: 18px;
  margin-right: 10px;
}
.switch{
  margin-right: 19px
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex: 1;
  width: 100%;
  background-color: rgb(222, 222, 222);
}

.system{
  display: flex;
  gap: 10px;
  font-size: small; 
  margin: 0 auto; 
  margin-top: 5px;
  align-items: center;
  color: rgb(56, 56, 56);
}

.chat-UI{
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100dvw;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  color: black;
  border-radius: 10px;
  padding-bottom: 55px;
}
.me,
.jarvis{
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 10px;
}
.me{ 
  align-self: flex-end; 
  margin-right: 5px;
}
.jarvis{
   align-self: flex-start; 
   margin-left: 5px;
}
.message{
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 60dvw;
  font-size: 12px;
  border-radius: 15px;
}
.message .head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.message p{
  margin-top: 4px ;
  margin-bottom: 1px;
}
.time{
  font-size: 9px; 
}
.jarvis .time{
  color: rgb(255, 255, 255);
}
.me .time{
  color: rgb(0, 0, 0);
}

.c-avatar-holder,
.me-avatar-holder,
.jarvis-avatar-holder{
  border: 1.5px solid;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}
.me-avatar-holder{
  color: rgb(0, 0, 0);
}
.jarvis-avatar-holder{
  color: rgb(255, 255, 255);
}
.c-avatar{
  width: 100%;
}
.me > .message{
  margin-right: 2px;
  border-bottom-right-radius: 2px;
  background-color: rgb(230, 230, 230);
  color: black;
}
.jarvis > .message{
  margin-left: 2px;
  border-radius: 10px;
  border-bottom-left-radius: 1px;
  background-color: rgb(44, 44, 44);
  color: white;
}

form{
  position: fixed;
  bottom: 0;
  background-color: rgba(222, 222, 222, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 33px 0 rgb(0, 0, 0, 0.2);

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  max-height: 250px ;
  height: 6.5%;
  width: 100%;
  padding-bottom: 15px;
  column-gap: 5px;
}
textarea{
  flex: 1;
  padding-top: 6px;
  padding-left: 11px;
  padding-right: 34px;
  height: 23px;
  max-height: 75px;
  outline: none;

  background-color: rgba(81, 75, 75, 0.096);
  border: 1px solid rgba(78, 62, 62, 0.25);
  border-radius: 20px;
    margin-right: 10px;
  scrollbar-width: none;
}
button{
  font-size: 12px;
  width: 32px;
  height: 32px  ;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sendBtn{
  border: 1px solid  rgba(78, 62, 62, 0.25);
  margin-right: 10px;
  position: absolute;
  right: 0;
}
.addFileBtn{
  margin-left: 10px;
  border: dashed 1px rgba(73, 70, 70, 0.596);
}

.nav{
  position: fixed;
  bottom: 1px;
} 

.nav p{
  margin: 0;
  color: rgb(69, 78, 78); 
  text-align: center;
  font-size: xx-small;
  font-style: italic;
  font-weight: 700;
}