:root {
  --bg-col: #1e1d1d;
  --sec-col: #eaeaea;
  --text-col: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overscroll-behavior: none;
}

body {
  background-color: var(--bg-col);
  color: white;
  align-items: center;
  scrollbar-width: none;
  position: fixed;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  border-radius: 2px;
  overflow: hidden;
}

.copy-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
}

.copy-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

#toast {
  position: fixed;
  top: 98px;
  left: 50%;
  transform: translateX(-50%) translateY(12px);

  background-color: rgba(222, 222, 222, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0 rgb(0, 0, 0, 0.2);

  color: rgba(255, 255, 255, 0.575);
  font-size: 13px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity .45s, transform .3s cubic-bezier(.34, 1.56, .64, 1);
  z-index: 9999;
}

#toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

header {
  background-color: var(--bg-col);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 10000;
  padding-top: calc(10px + env(safe-area-inset-top));
  display: flex;
  font-size: x-small;
  justify-content: center;
  column-gap: 11px;
  align-items: center;
  color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.498);
}

/* header div{
   border: 1px solid; 
} */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  flex-grow: 1;
}

.p-avatar {
  width: 100%;
  border-radius: 100%;
}

.img-holder {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 3px double var(--text-col);
}

.title {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 2.8dvw;
}

.status {
  margin-top: 4px;
  font-size: 11px;
  color: red;
}

.hicon :hover {
  width: 23px;
  transition: 400ms;
}

.nav-back,
.switch {
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-back {
  margin-left: 18px;
  margin-right: 10px;
}

.switch {
  margin-right: 19px
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex: 1;
  width: 100%;
  margin-top: 70px;
  background-color: var(--bg-col);
}

.chat-UI {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overscroll-behavior: contain;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  color: black;
  border-radius: 10px;
  padding-bottom: calc(70px + env(safe-area-inset-bottom));
}

.startMsg,
.system {
  display: flex;
  gap: 3px;
  font-size: x-small;
  margin: 0 auto;
  align-items: center;
  color: white;
}

.startMsg {
  margin-top: 5px;
  font-size: small;
}

.me,
.jarvis {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 10px;
}

.me {
  align-self: flex-end;
  margin-right: 10px;
}

.jarvis {
  align-self: flex-start;
  margin-left: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  /* max-width: 75dvw; */
  font-size: 14px;
  border-radius: 15px;
  line-height: 1.6;
  word-break: break-word;
  overflow-wrap: break-word;
}

.message ul,
.message ol {
  padding-left: 22px;
  margin: 5px 0;
}

.message li {
  margin-bottom: 4px;
}

.message p {
  margin: 5px 0;
}

.message pre {
  background: #160023;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
  /* max-width: 100%; */
  font-size: 12px;
}

.message p code {
  background: rgba(205, 191, 191, 0.603);
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
}

.message code {
  font-family: monospace;
}

.message .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.time {
  font-size: 9px;
}

.jarvis .time {
  color: rgb(255, 255, 255);
}

.me .time {
  color: rgb(0, 0, 0);
}

.c-avatar-holder,
.me-avatar-holder,
.jarvis-avatar-holder {
  border: 1.5px solid;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}

.me-avatar-holder {
  color: rgb(0, 0, 0);
}

.jarvis-avatar-holder {
  color: rgb(255, 255, 255);
}

.c-avatar {
  width: 100%;
}

.me>.message {
  margin-right: 2px;
  border-bottom-right-radius: 2px;
  background-color: rgb(255, 254, 254);
  color: black;
  max-width: 58dvw;
}

.jarvis>.message {
  margin-left: 2px;
  border-radius: 10px;
  border-bottom-left-radius: 1px;
  background-color: rgb(65, 64, 64);
  color: white;
  max-width: 77dvw;
}

.formWrap {
  /* flex: 1;  */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
  /* background-color: #171414; */
  position: fixed;
  background-color: rgba(222, 222, 222, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 33px 0 rgb(0, 0, 0, 0.2);
}

form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  column-gap: 5px;
}

textarea {
  flex: 1;
  padding-top: 6px;
  padding-left: 11px;
  padding-right: 34px;
  height: 33px;
  max-height: 80px;
  overflow-y: auto;
  resize: vertical;
  outline: none;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.281);
  border: 1px solid rgba(78, 62, 62, 0.25);
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 10px;
  scrollbar-width: none;
  color: #ffffff;
}

button {
  font-size: 12px;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.sendBtn {
  color: #ffffffe6;
  margin-right: 10px;
  position: absolute;
  right: 5px;
  top: 10px;
  width: 23px;
  height: 23px
}

.sendBtn:disabled {
  cursor: wait;
}

.lucideSend {
  width: 30px;
}

.lucideAdd {
  color: white;
  width: 30px;
}

.addFileBtn {
  margin-left: 10px;
  border: dotted 1px rgba(54, 53, 53, 0.596);
}

.nav {
  height: 10px;
  width: 100%;
  margin-bottom: 50px;
}

.nav {
  margin: 0;
  margin-top: 5px;
  color: rgb(218, 223, 223);
  text-align: center;
  font-size: xx-small;
  font-style: italic;
  font-weight: 700;
}

.start {
  width: 20px;
}

textarea::placeholder {
  color: #d8d7d7;
}